@using Clients
@rendermode InteractiveServer
@page "/"
@inject CatalogApiClient catalogApiClient

<PageTitle>Contoso Product Catalog</PageTitle>

<h1>Product Catalog</h1>

@if (products != null)
{
    <table class="table">
        <thead>
            <tr>
                <th style="padding-right: 20px;">Price</th>
                <th>Name</th>
                <th style="padding-left: 30px;">Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.Price</td>
                    <td>@product.Name</td>
                    <td style="padding-left: 30px;">@product.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

@code
{
    IEnumerable<CatalogItem>? products;

    protected override async Task OnInitializedAsync()
    {
        products = await catalogApiClient.GetCatalogItemsAsync();
    }
}